.container-fluid {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  margin-top: 0;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #F1FADA;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

#header {
  background-color: black;
}

#datatable th {
  text-align: left;
  background-color: #2D9596;
}

#datatable td {
  text-align: left;
  background-color: white;
}

#NIM {
  background-color: rgb(207, 207, 207);
}

.alertContainer {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 30%;
}

.alert {
  padding: 0;
  border-radius: 10px;
}

.alert-heading {
  background-color: #388E3C;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 50px;
}

.close {
    color: #ffffff;
    background-color: #ff6347;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.close:hover {
  opacity: 1;
}

.mb-0 {
  float: left;
  padding-right: 30px;
}

#addData {
  background-color: #2D9596;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-top: 45px;
  margin-right: 40px;
  margin-left: 40px;
}

#positionAddData {
  padding: 20px;
}

#inputNIM {
  background-color: #F1FADA;
}

#inputnama {
  background-color: #F1FADA;
}

#inputalamat {
  background-color: #F1FADA;
}

#copyright {
  text-align: right;
}

#image {
  max-width: 50%;
}

#bawahan {
  color: white;
  font-family: monospace;
}

.modal{
  color: black;
}

#myAlert .alert-heading {
  background-color: #388E3C; 
}

#myWarningAlert1 .alert-heading {
  background-color: #FFA500; 
}

#updatealert .alert-heading {
  background-color: #4B0082; 
}

#deletealert .alert-heading {
  background-color: #B22222; 
}

#myWarningAlert .alert-heading{
  background-color: #FFA500; 
}

.alert {
  background-color: white;
}

.alert-heading img {
  width: 20px; 
  height: 20px; 
}