.container-fluid {
  max-width: 90%;
}

body {
  font-family: monospace;
  margin-top: 50px;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #F1FADA;
}

#header {
  background-color: black;
}

#datatable th {
  text-align: left;
}

#datatable td {
  text-align: left;
}

#NIM {
  background-color: rgb(207, 207, 207);
}

.alertContainer {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 30%;
}

.alert {
  padding: 0;
  border-radius: 10px;
}

.alert-heading {
  background-color: #388E3C;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 50px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 1;
  color: white;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  appearance: none;
}

.mb-0 {
  float: left;
  padding-right: 30px;
}

#addData{
  background-color: #2D9596;
  border-radius: 30px;
  margin-bottom: 20px;
}

#positionAddData{
  padding: 20px;
}

#inputNIM{
  background-color: #F1FADA;
}
#inputnama{
  background-color: #F1FADA;
}
#inputalamat{
  background-color: #F1FADA;
}